.allow-copy div {
	display: block;
	cursor: pointer;
	width: 24px;
	height: 24px;
	float: right;
	margin-top: -28px;
	margin-right: 2px;
	right: 0;
	border: 1px solid #9cbec3;
	border-radius: 2px;
	position: absolute;
	background: url(../img/copy.png) no-repeat 8px 8px;
	background-position: center;
}
.allow-copy div:hover {
	border: 1px solid #006d42; 
	background: url(../img/copy_mouseover.png) no-repeat 8px 8px;
	background-position: center;
}
